* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    
    background-color: #FBBA72;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 25px;
    color: #691E06;
    font-weight: 400;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 50px;
}

.logo {
   max-width: 250px;
   height: auto;
   border-radius: 10px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/banner/imagenbanner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items:center;
    justify-content:center;
    color:antiquewhite;
    font-size: 20px;
}

h1,h2 {
    font-weight: 400;
}

.banner .contenido {
    font-size: 2rem;
}

a {
    color: #691E06;
    text-decoration: none;
}

a:hover{
    color: #BB4D00;
    font-weight: 800;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

footer {
    display: flex;
    background-color:#691E06;
    min-height: 50vh;
    color: antiquewhite;
}

.newsletter h2 {
    font-size: 1.7rem;
}

.newsletter form {
    /* max-width: 32%; */
}

.email-newsletter {
    min-height: 30px;
    min-width: 50%;
    border: 3px #FBBA72 solid;
    border-radius: 5px;
    margin-top: 15px;
}

.boton-newsletter {
    min-height: 30px;
    min-width: 19%;
    border: 3px #FBBA72 solid;
    border-radius: 5px;
    background-color: #FBBA72;
    color: #691E06;
    font-weight: bold;
    font-size: 15px;
}

.boton-newsletter:hover {
    cursor: pointer;
    text-transform: uppercase;
}

footer .newsletter {
    padding: 20px;
    max-width: 33%;
}

footer section {
    width: 33%;
}

.footer-link {
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-link a {
    color: antiquewhite;
}

.medios-de-pago {
    height: 40px;
    color: antiquewhite;
    margin-inline: 3px;
    margin-top: 15px;
}

