* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBBA72;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight:400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 25px;
    color: #691E06;
}

.logo {
   max-width: 250px;
   height: auto;
   border-radius: 10px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/banner/imagenbanner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items:first baseline;
    justify-content:center;
    color:antiquewhite;
    font-size: 20px;
}

h1 {
    font-weight: 300;
}